@font-face {
    font-family: 'ITC Serif Gothic Std';
    src: url(../fonts/SerifGothicStd.otf);
}

@font-face {
    font-family: 'Aurebesh';
    src: url(../fonts/AurebeshINV.otf);
}

:root {
    --font: 'ITC Serif Gothic Std', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-special: 'Aurebesh';
    --background-color: #111111;
    --secondary-background-color: #1d1d1d;
    --text-color: rgba(255, 255, 255, .92);
    --textarea-color: rgba(255, 255, 255, .92);
    --text-emphasis-color: #ffffff;
    --text-active-color: #1c4995;
    --border-color: #101010;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: 16px;
}

.container {
    display: flex;
    margin: auto;
    margin-top: 2em;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3, h4, h5 {
    color: var(--text-emphasis-color);
    margin-bottom: .1rem;
}

img#aurebesh-reference {
    align-self: center;
    height: 50vh;
    margin-top: 1em;
}

.socials {
    padding: 2em;
    align-self: center;
}

.socials a {
    color: var(--text-emphasis-color);
    font-size: 2em;
    padding: 7px;
    text-decoration: none;
}

/* Translation */
.translateArea {
    display: flex;
    /* flex-direction: row; */
    flex-flow: column wrap;
    height: 500px;
}

.translateArea h2 {
    margin-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.translateArea textarea {
    background: var(--secondary-background-color);
    border: 3px solid var(--border-color);
    border-radius: 5px;
    color: var(--textarea-color);
    font-family: var(--font);
    font-size: 36px;
    padding: 10px;
    outline: none;
    width: 100%;
    height: 75%;
}

.translateArea .translateEnglish {
    width: 45%;
    height: 100%;
}

.translateArea .translateAurebesh {
    width: 45%;
    height: 100%;
}

.translateArea textarea[name=aurebesh] {
    font-family: var(--font-special);
    /* width: 50%; */
}

.translateArea i {
    margin-left: .2em;
    color: var(--text-color);
    cursor: pointer;
    font-size: 24px;
}

.translateArea i.active {
    color: var(--text-active-color);
}

button.copyLink {
    background-color: var(--secondary-background-color);
    border: 3px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-color);
    font-weight: bold;
    outline: none;
    margin-top: -40px;
    padding: 8px;
    align-self: center;
}

button.copyLink:hover {
    background-color: var(--text-active-color);
}

.copyLink i {
    padding-left: 2px;
}

/* On-screen keyboard */
.simple-keyboard.dark {
    background-color: var(--secondary-background-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    font-family: var(--font-special);
    font-size: 34px;
    padding: 10px;
}

.simple-keyboard.dark.active {
    display: block;
    visibility: visible;
    opacity: 1;
    animation: fade .5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.simple-keyboard.dark .hg-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    color: var(--text-emphasis-color);
    box-shadow: 0 0 3px -1px var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.simple-keyboard.dark .hg-button:active {
    background: var(--text-active-color);
    color: var(--text-emphasis-color);
}

.simple-keyboard .hg-button.hg-standardBtn.letter {
    width: 50px;
}

.simple-keyboard .hg-button.hg-functionBtn.hg-button-shift {
    min-width: 70px;
}

.simple-keyboard .hg-button.hg-functionBtn.hg-button-space {
    min-width: 150px;
    max-width: none;
}

/* .simple-keyboard.hg-theme-default:not(.hg-layout-double):not(.hg-layout-shiftDbl) .hg-row:nth-child(3) {
    margin-left: 100px;
    margin-right: 60px;
} */

.simple-keyboard.hg-theme-default .hg-button.hg-functionBtn[data-skbtn="{empty}"] {
    visibility: hidden;
}

.simple-keyboard.dark .hg-functionBtn {
    font-family: var(--font);
    font-size: 22px;
}

.simple-keyboard.hg-theme-default .hg-button.hg-standardBtn[data-skbtn="$"] {
    max-width: 60px;
}

.simple-keyboard.hg-theme-default .hg-button.hg-functionBtn[data-skbtn="{double}"] {
    max-width: 100px;
}

/* Subtitles (source: https://cssanimation.rocks/starwars/) */
.subtitle {
    font-weight: bold;
    font-size: 2em;
    color: var(--text-emphasis-color);
    line-height: 2em;
    letter-spacing: 0.4em;
    left: -2em;
    right: -2em;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    -webkit-animation: move-byline 10s linear infinite;
    -moz-animation: move-byline 10s linear infinite;
    animation: move-byline 10s linear infinite;
}

.subtitle span {
    display: inline-block;
    -webkit-animation: spin-letters 10s linear infinite;
    -moz-animation: spin-letters 10s linear infinite;
    animation: spin-letters 10s linear infinite;
}

@keyframes spin-letters {
    0%, 10% {
      opacity: 0;
      -webkit-transform: rotateY(90deg);
      -moz-transform: rotateY(90deg);
      transform: rotateY(90deg);
    }
    30% {
      opacity: 1;
    }
    70%, 86% {
      -webkit-transform: rotateY(0);
      -moz-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1;
    }
    95%, 100% {
      opacity: 0;
    }
}

@keyframes move-byline {
    0% {
      transform: translateZ(5em);
    }
    100% {
      transform: translateZ(0);
    }
}

/* Mobile */
@media all and (max-width: 767px) {
    .container {
        margin: 1em;
        width: auto;
    }
    .translateArea {
        flex-direction: row;
        flex-flow: column;
    }
    .translateArea textarea {
        font-size: 26px;
        width: 90%;
        /* height: 100%; */
    }
    .translateArea .translateEnglish {
        width: 100%;
        height: 60%;
    }
    .translateArea .translateAurebesh {
        width: 100%;
        height: 60%;
    }
    button.copyLink {
        margin-top: 12vh;
        z-index:999999999999999;
    }
    img#aurebesh-reference {
        align-self: center;
        height: 60vw;
        justify-content: flex-end;
        margin-top: 5vh;
    }
    .simple-keyboard.dark {
        font-size: 4vw;
        padding: 10px 5px 10px 5px;
        max-width: 500px;
    }
    .simple-keyboard.dark .hg-button {
        height: 7vw;
    }
    .simple-keyboard.dark .hg-functionBtn {
        font-size: 2.5vw;
    }
    .simple-keyboard .hg-button.hg-functionBtn.hg-button-shift {
        min-width: auto;
    }
    .simple-keyboard .hg-button.hg-functionBtn.hg-button-space {
        min-width: 70%;
        max-width: none;
    }
    .simple-keyboard.hg-theme-default:not(.hg-layout-double):not(.hg-layout-shiftDbl) .hg-row:nth-child(2) {
        margin-left: 8px;
        margin-right: 8px;
    }
    .simple-keyboard.hg-theme-default .hg-button.hg-functionBtn[data-skbtn="{bksp}"] {
        font-size: 4vw;
        max-width: 7vw;
    }
    .simple-keyboard.hg-theme-default .hg-button.hg-functionBtn[data-skbtn="{shiftDbl}"] {
        max-width: 8vw;
    }
}

/* Blind theme */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --secondary-background-color: #f2f3f5;
        --text-color: rgba(0, 0, 0, .92);
        --textarea-color: rgba(0, 0, 0, .92);
        --text-emphasis-color: #000000;
        --text-active-color: #92b0e4;
        --border-color: rgba(6, 6, 7, 0.1);
    }
}